.main
{
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif; 
    padding: 0 !important;
    /* background-color: rgb(255, 255, 255); */
    background: linear-gradient(90deg, #c8b1ff, #390da0);
    color: #ffff !important;
}

html
{
    overflow-x: hidden;
}

*::selection
{
    background-color: #ffffff;
    color: #390da0;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #c6b2f7;
    border-radius: 5px;
    cursor: grab;
    transition: background-color 0.5s linear;
}
