.home {
    width: 85%;
    padding: 10px;

    /* 10% if using normal pics or rounded pics else 1*/
    padding-top: 1%;

    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.home-part1 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}

.name-text, .course-text {
    font-size: 4.5vw;
    padding: 0;
    margin: 0;
}

.course-text {
    font-size: 2.5vw;
}

.other-text {
    font-size: 1.1vw;
}

.home-part2 {
    display: flex;
}

.home-part2 img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover; 
    /* box-shadow: 0px 10px 12px -10px rgba(0, 0, 0, 1); */

    /* only if the pic is rounded ( Not necassary ) */
    border-radius: 50%;
    /* outline: 3px solid #ffffff; */
}

.skills {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-out;
    overflow-x: auto;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: flex-start;
    align-items: flex-start; */
    text-wrap: wrap;
    margin-top: 3%;
  }
  
/* Just incase, really not needed */
  .skills::-webkit-scrollbar {
    height: 10px;
  }
  
  .skills::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

  .skills .skill-btn{
    font-size: 0.9vw;
    cursor: text;
    font-weight: bold !important;
    color : black !important;
  }

  #skill-toggle-btn{
    cursor: pointer;
    /* padding-top: 2vh; */
  }
  
  
 .skills-visible {
    /* font-size: 1.1vw; */
    max-height: 100vh;
  }
  

  @media (max-width: 1000px)
  {
    .home-part1{
        padding: 20px;
    }

    .home-part2{
        display: none;
    }

    .home{
        width: 100%;
    }

    .name-text {
        font-size: 7vw;
    }
    
    .course-text {
        font-size: 5vw;
    }
    
    .other-text {
        font-size: 2.5vw;
    }

    /* #skill-toggle-btn
    {
        padding-top: 0;
    } */

    .skills .skill-btn
    {
        font-size: 2.5vw !important;
    }

    .skills-visible .skill-btn{
        font-size: 2.5vw !important;
    }

    .skills {
        overflow-x: auto;
        display: flex;
        flex-direction: row;
        /* justify-content: flex-start;
        align-items: flex-start; */
      }

    .skills::-webkit-scrollbar {
        height: 4px;
      }
  }
  