.top-main {
    border-bottom: 2px solid #390da0;
    width: 100vw;
    padding: 0;
    background-color: white;
    box-shadow: 0px 10px 7px -10px rgba(0, 0, 0, 0.5);
}


.navbar
{
    padding: 0 !important;
}


.nav-link:hover
{
    /* background-color: rgb(224, 101, 19); */
}

.nav-toggle-btn{
    font-size: 4.5vw;
    border: none;
}

.nav-toggle-btn:focus {
    outline: none; 
    border: none;  
    box-shadow: none;
  }
  


.nav-btn {
    font-size: 1.1vw !important;
  }

.navbar-collapse {
    transition: height 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .navbar-collapse.show {
    height: 100%;
  }
  
  @media (max-width: 1000px)
  {
    .top-main {
        box-shadow: 0px 10px 7px -10px rgba(0, 0, 0, 0.3);
    }

    
    .nav-btn {
        font-size: 2.5vw !important;
      }
  }
  